#redirect-button { 
    background: #444; 
    color: white; 
    font-size: 1.5rem;
}
#button { 
    background: lightgray; 
    color: black;
    font-size: 1.5rem;
}
#scale { 
    color: black;
    font-size: 2rem;
}
#label {
    font-family: century;
    font-size: 1.4rem;
    background-color: white;
    border: none;
}