#redirect-button { 
    background: #444; 
    color: white; 
    font-size: 1.5rem;
}
#button { 
    background: lightgray; 
    color: black;
    font-size: 1.5rem;
}
#scale { 
    color: black;
    font-size: 2rem;
}
#text {
    color: red;
    font-size: 200px;
}